.App {
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
 align-items: baseline;
 font-size: medium;
 font-style: italic;
 
}

h1 {
  font-weight: bolder;
}

header {
  color: black;
  background-color: lightseagreen;
  margin: 10px;
  margin-left: 300px;
  margin-right: 300px;
  font-style: oblique;
}

body {
  background-color: white;
}

footer {
  background-color: rgb(92, 101, 128);
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 500px;
}